<%- include("./partials/header") %>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Todo App</a>
    </div>
  </nav>

  <div class="container mt-4 mb-4 card col-8">

    <form action="/add/tasks" method="post" class=" mt-3">

      <input type="text" name="todoTask" class="form-control form-control-lg m-1" placeholder="Add Tasks">
      <div class="taskElement d-flex justify-content-between mt-2 flex-wrap">

        <div class="input-group m-1">
          <span class="input-group-text" id="basic-addon1">Due Date</span>
          <input type="date" name="dueDate" class="form-control">
        </div>

        <div class="m-1">
          <select name="priorityOfTask" class="form-select">
            <option value="medium" selected>Priority</option>
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </div>

        <input type="submit" value="Add Task" class="btn btn-md btn-outline-success m-1">
      </div>
    </form>


    <hr>

    <form action="/" method="get" class="d-flex justify-content-between">

      <div class="filter">
        <select name="filter" class="form-select form-select-sm ">
          <option value="">Filter - All</option>
          <option value="high">High Priority</option>
          <option value="medium">Medium Priority</option>
          <option value="low">Low Priority</option>
        </select>
      </div>

      <input type="submit" value="Apply Filter" class="btn btn-sm btn-outline-success">

    </form>

    <div class="mb-3">
      <% if (tasks.length> 0) { %>
        <hr>
        <h5>Today's Tasks</h5>
        <% } %>
          <ul class="list-group">
            <% tasks.forEach( td=> { %>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <span class="m-1">
                  <%= td.todo %>
                </span>

                <span class="badge text-bg-secondary m-1">
                  <%= td.priority %>
                </span>
                <% if (td.dueDate) { %>
                  <span class="badge text-bg-warning m-1">Due: <%= td.dueDate.toLocaleDateString('en-US', { year: 'numeric'
                      , month: '2-digit' , day: '2-digit' }) %></span>
                <% } %>

                <form action="/delete/task/<%=td._id%>?_method=DELETE" method="post" >
                  <button class="btn btn-outline-danger btn-sm m-1">Delete</button>
                </form>
              </li>
              <% }) %>
          </ul>
    </div>

  </div>




  <!-- <form action="/add/tasks" method="post" class=" mt-3">
  <input type="text" name="todoTask" class="form-control form-control-lg" placeholder="Add Tasks">
  <div class="taskElement mt-2">
    <input type="date" name="dueDate" class="form-control form-select-sm">
    <select name="priorityOfTask" class="form-select form-select-sm mt-2">
      <option value="medium" selected>Priority</option>
      <option value="high">High</option>
      <option value="medium" >Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <input type="submit" value="Add Task" class="btn btn-sm btn-outline-success col-12 mt-2">
</form> -->